@font-face {
    font-family: "Metropolis";
    src: url("../fonts/Metropolis-Medium.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Metropolis";
}

header {
    background-image: url(../images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.free_trial {
    padding: 12px 24px;
    background-color: #fff;
    font-weight: 500;
    color: #722ED1;
    border: 0.5px solid #722ED1;
    border-radius: 23px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.nav li {
    padding: 0 20px;
}

.navbar-toggle {
    background-color: #000;
}

.nav li a {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 100px 0;
}

.about_text {
    padding: 0 16px;
}

.about_img {
    min-height: 370px;
}

.about_text .button_about {
    margin-bottom: 24px;
    padding: 8px 16px;
    width: fit-content;
    background: #F7F1FF;
    border: none;
    border-radius: 20px;

    font-size: 16px;
    line-height: 24px;
    color: #722ED1;
}

.about_text .button_about span {
    padding: 0 5px 0 12px;
}

.about_text .button_about a {
    padding: 0;
    text-decoration: underline;
    color: #722ED1;
}

.about_text button img {
    padding: 0 12px;
}

.about_text h2 {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #000000;
}

.about_text p {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
}

.about_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start_free_t {
    margin-right: 16px;
    padding: 12px 24px;
    background-color: #722ED1;
    border: none;
    border-radius: 23px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.learn_more {
    padding: 12px 24px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 23px;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #722ED1;
}

.Qubly {
    display: flex;
    flex-direction: column;
}

.why_qubly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 0 auto;
    padding: 8px 16px;
    width: 158px;
    min-height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #F7F1FF;
}

.why_qubly img {
    padding: 0;
}

.why_qubly span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #722ED1;
}

.qubly_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 24px;
}

.qubly_text h3 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #160637;
}

.qubly_text p {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #8989A2;
}

.cards_3 {
    padding: 24px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card h4 {
    padding: 16px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #160637;
}

.card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #8989A2;
}

.qubly_products {
    margin: 0;
    width: 224px;
}

.for_product_teams {
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product_text {
    display: flex;
    flex-direction: column;
}

.product_text h3 {
    padding: 24px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #160637;
}

.product_text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8989A2;
}















@media only screen and (max-width: 768px) {
    .about_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about_text h2 {
        text-align: center;
    }

    .about_text p {
        text-align: center;
    }

    .about_img {
        margin-top: 20px;
    }

    .cards_3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card {
        padding: 10px 0;
    }

    .card p {
        margin: 0 auto;
        width: 70%;
    }

    .product_text .qubly_products {
        margin: 0 auto;
    }

    .product_text h3,
    p {
        text-align: center;
    }
}



@media only screen and (max-width: 480px) {
    body {
        margin: 0 auto;
    }

    .about_text p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 360px) {}
